# Directories
bin
bin-int

cmake-build-debug
cmake-build-release
build
out
xcode

# Mac os stuff
.DS_Store

#CLion
.idea

# Visual Studio Code
.vscode

# Xcode files and folder
*.xcodeproj
*.xcworkspace

# Visual Studio files and folder
visualstudio
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user